* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  background-color: #f4f4f5;

}
body > div{
  margin: auto;
}
.button-block{
  /* display:flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.btn{
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 35px;
  border-radius:50px;
  transition: opacity 0.2s ease;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.8;

}
.btn + .btn{
  margin-left:  16px;
}

.btn.btn--success{
  background-color: #71be34;
}
.btn.btn--warn{
  background-color: #ffb702;
}
.btn.btn--danger{
  background-color: #ff6236;
}

#toast{
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all linear 0.3s ;
  overflow: hidden;
}

.notify{
  display: flex;
  background-color: #fff;
  width: 300px;
  transition: all 0.5s ease;
  /* padding :15px; */
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  /* animation: slideInLeft ease 0.3s, fadeOut ease 0.3s 3s forwards; */
  /* animation: slideInLeft ease 0.3s; */
  
}
@keyframes slideInLeft {
  from { 
    opacity: 0.1;
    transform: translateX(calc( 100% + 30px ));
  }
  to{
    opacity: 1;
    transform: translateX();
  }
}
@keyframes fadeOut {
  from { 
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.notify.notify__title{
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.notify .notify__content{
  flex-direction: column;
  flex-grow: 1;
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
  padding: 10px 5px;
}
.notify .notify__icon{
  color: #fff;
  border-radius:50%;
  padding: 3px;
  margin-left: 5px;
  font-size: 20px;
}
.notify .notify__close{
  border-radius:50%;
  padding-right: 10px;
  cursor: pointer;
  align-self:stretch;
  align-self: stretch;
  align-items: center;
  display: flex;

}
.notify + .notify{
  margin-top: 20px;
}
.notify.notify--success{
  border-left: 5px solid #71be34;
}
.notify.notify--danger{
  border-left: 5px solid red;
}
.notify.notify--success .notify__icon {
  /* background-color: #71be34; */
  color: #71be34;
}
.notify.notify--danger .notify__icon {
  /* background-color: #ff6236; */
  color: #ff6236;
}
